include AUTHORS LICENSE.txt README.md TODO
include ez_setup.py

recursive-include etkdocking/icons *.png

recursive-include docs/reference *.py Makefile make.bat *.rst
prune docs/reference/build
prune docs/reference/source/conf.pyc
recursive-include docs/platform *.html *.py
recursive-include docs/examples *.py *.sav

